[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/loremipsum"]
	path = vim/bundle/loremipsum
	url = https://github.com/vim-scripts/loremipsum.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/notyalc/molokai.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/notyalc/vim-airline.git
[submodule "vim/bundle/vim-jade"]
	path = vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "vim/bundle/xterm-color-table"]
	path = vim/bundle/xterm-color-table
	url = https://github.com/guns/xterm-color-table.vim.git
